/* Custom Styles For Theme*/
#all_posts_meta .classy-label-td,
#single_posts_meta .classy-label-td {width: 40% !important}


/* common rules for all fields */
.classy-label-td {width: 30% !important}
.classy-label {}


/*single image*/
.classy-single-image{width: 60% !important;}

/* select text */
.classy-text {width: 100% !important}

/* select field */
.classy-select {height: auto !important}

/* uploaded image */
.classy-images li {margin: 0 10px 10px 0; float: left; width: 150px; height: 100px; text-align: center; border: 3px solid #ccc; cursor: move; position: relative}
.classy-images img {width: 150px; height: 100px}
.classy-images a {position: absolute; bottom: 0; right: 0; color: #fff; background: #000; font-weight: bold; padding: 5px}

/* upload button */
.classy-upload-button {float: left; clear: both; margin-top: 10px}

.classy-slider { max-width: 200px; margin-bottom: 8px;}

/* time picker */
.ui-timepicker-div {font-size: 0.9em}
.ui-timepicker-div .ui-widget-header {margin-bottom: 8px}
.ui-timepicker-div dl {text-align: left}
.ui-timepicker-div dl dt {height: 25px}
.ui-timepicker-div dl dd {margin: -25px 0 10px 65px}
.ui-timepicker-div td {font-size: 90%}